@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F5B0C2, #DAC1E8);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7f7086b3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #DAC1E8;
    text-align: center;
    text-shadow: 1px 1px 2px #a18fabcf ;
}

h2 {
    color: #B3DFF3;
}

p {
    text-align: justify;
}
